@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marcio Zamperetti<br />
    Porto Alegre - RS<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">Marcioff6@hotmail.com</a><br />
</address>

<a href="https://github.com/MarcioZamperetti" target="_blank">Outros projetos GitHub</a>